.card {
    font-family: Muli, sans-serif;
    border: 1px solid #e8e8e8;
}

.card + .card{
     margin-top: 20px; 
}

.card-image .card-title{
    color: black;
    font-weight: 400
}

.container{
        position: relative;
        top: 150px;
}